{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block title %}  Принятие решений II: раунд {{ current_round }} из {{ Constants.num_rounds }}  {% endblock %}

{% block content %}
<p>
<!--    <b>Это игра на создание общественного блага.</b> -->
    <b>
    В каждом раунде каждый из вас получает равную сумму
        {{ Constants.endowment }}, и решает, сколько внести на <b>общий
        счет</b>, который уменьшает вероятность бедствия.
    </b><b>
        Остальное зачисляется на Ваш <b>личный счет</b>.
         Ваш итоговый доход зависит как от Ваших решений, так и от решений
        остальных членов Вашей группы.
    </b>
    <br>
</p>

{% formfield player.contribution with label="Сколько Вы внесете на общий счет?" %}

{% next_button %}

{% endblock %}


