{% load otree_tags staticfiles %}
<div class="instructions well well-lg">
<h3 class="panel-sub-heading">
Инструкции
</h3>
<p>
Вы играете в той же группе с другими участниками. Каждый из вас в каждом раунде
    получает равную сумму {{ Constants.endowment }}, и решает, в какой пропорции разбить ее между <b>личным счетом</b> и <b>общим счетом</b>.
Ваш доход зависит как от ваших решений, так и от решений остальных.
</p><p>
В конце каждого из раундов Вы увидите взносы и доходы каждого
    участника. В дополнение к тому что было ранее, тут же Вы сможете
    принять решения о вычетах из доходов каждого из Ваших
    партнеров в этом раунде в размере от 0 (нет вычета) до
    10 (максимальный вычет).
    Вы потратите 0.2 за каждую единицу вычета у каждого другого участника. Если вы ни к кому не хотите применять
    вычет, просто проходите далее.
</p><p>


</div>