{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Инструкции 2
{% endblock %}

{% block content %}

Теперь после прочтения инструкций, вам нужно будет ответить на несколько вопросов, чтобы мы могли убедиться в том, что вы поняли модель и готовы принять решение. <br>
Таблицы с распределением вероятностей и выплатами вам все еще доступны.<br>

<table>
  <tr>
    <th>Состояние\Решение</th>
    <th>Вакцинироваться (-15)</th>
    <th>Не вакцинироваться (0)</th>
  </tr>
  <tr>
    <td>Здоровый</td>
    <td>100-15=85</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Больной легко</td>
    <td>100-15-20=65</td>
    <td>100-0-40=60</td>
  </tr>
    <tr>
    <td> Больной тяжело </td>
    <td>100-15-60=25</td>
    <td>100-0-80=20</td>
  </tr>
    </table>

<br>

<table>
  <tr>
    <th>Состояние\Решение</th>
    <th>Вакцинироваться (-15)</th>
    <th>Не вакцинироваться (0)</th>
  </tr>
  <tr>
    <td>Здоровый</td>
    <td>50%</td>
    <td>50%</td>
  </tr>
  <tr>
    <td>Больной легко</td>
    <td>45%</td>
    <td>25%</td>
  </tr>
    <tr>
    <td> Больной тяжело</td>
    <td>5%</td>
    <td>25%</td>
  </tr>
    </table>
    {% formfields %}
    {% next_button %}

{% endblock %}
