{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Инструкции
{% endblock %}

{% block content %}
Каждый участник изначально находится в здоровом состоянии, условно называемым “Здоровым” и имеет два варианта действий на выбор, “Вакцинироваться” и “Не вакцинироваться”. Также каждому игроку изначально выдается 100 условных единиц, условно называемых “Счет”. <br>
Опция “Вакцинироваться” подразумевает штраф в 15 условных единиц, иллюстрирующий издержки, связанные с получением вакцины (Пропущенные рабочие дни и др.). Опция “Не вакцинироваться” соответственно такого штрафа не имеет. <br>

<br>

Затем с вероятностью &frac12 участники могут заразиться и получить статус “Зараженный”. Болезнь участники могут переносить в легкой форме или в тяжелой форме с соответствующей вероятностью в зависимости от того, принял игрок вакцину или нет. <br>
Причем для участников, которые выбрали опцию “Вакцинироваться”, вероятность перенести болезнь в легкой форме выше. Если участник заболевает, то он теряет часть своего счета в зависимости от статуса заболевания и степени его тяжести. <br>
Возможные итоги включают в себя шесть вариантов:<br>

<br>

Игрок не вакцинировался и не заболел и получает 100-0-0=100 у.е. <br>

Игрок не вакцинировался и заболел в легкой форме и получает 100-0-40=60 у.е.<br>

Игрок не вакцинировался и заболел в тяжелой форме и получает 100-0-80=20 у.е.<br>

Игрок вакцинировался и не заболел и получает 100-15-0=85 у.е.<br>

Игрок вакцинировался и заболел в легкой форме и получает 100-15-20=65 у.е.<br>

Игрок вакцинировался и заболел в тяжелой форме и получает 100-15-60=25 у.е.<br>

<br>

Все эти варианты представлены в таблице внизу. Все участники получат эти выигрыши в зависимости от своих решений и от того, в каком состоянии они оказались в конце эксперимента.<br>

<br>

<table>
  <tr>
    <th>Состояние\Решение</th>
    <th>Вакцинироваться (-15)</th>
    <th>Не вакцинироваться (0)</th>
  </tr>
  <tr>
    <td>Здоровый</td>
    <td>100-15=85</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Больной легко</td>
    <td>100-15-20=65</td>
    <td>100-0-40=60</td>
  </tr>
    <tr>
    <td> Больной тяжело </td>
    <td>100-15-60=25</td>
    <td>100-0-80=20</td>
  </tr>
    </table>

<br>

В рамках эксперимента участники в легкой или тяжелой форме заболевают случайным образом согласно вероятностям, значения которых представлены в таблице ниже: <br>

<br>

<table>
  <tr>
    <th>Состояние\Решение</th>
    <th>Вакцинироваться (-15)</th>
    <th>Не вакцинироваться (0)</th>
  </tr>
  <tr>
    <td>Здоровый</td>
    <td>50%</td>
    <td>50%</td>
  </tr>
  <tr>
    <td>Больной легко</td>
    <td>45%</td>
    <td>25%</td>
  </tr>
    <tr>
    <td> Больной тяжело</td>
    <td>5%</td>
    <td>25%</td>
  </tr>
    </table>

    {% next_button %}

{% endblock %}
