{#{% load otree_tags staticfiles %}#}
{#<div class="instructions well well-lg">#}
{#<h3 class="panel-sub-heading">#}
{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{##}
{#</h3>#}

{% block title %}
    Принятие решений - Инструкции
{% endblock %}


{% block content %}
<p>
Вы принимаете решения в группе из
    {{ Constants.players_per_group }} участников в течение
    {{Constants.num_rounds}} раундов.  Состав групп не меняется на
    протяжении всей игры.
</p>
    <br>
<p>
    В каждом раунде Вы получаете одинаковую начальную сумму в
    {{ Constants.endowment }}, из которой формирует Ваш <b>накопленный
    доход</b> в конце игры. Он может уменьшиться, если произойдет
    стихийное <b>бедствие</b>, в результате которого доходы каждого
    члена Вашей группы уменьшатся на 3/4, т.е. Вы получите только 1/4 того
    что накопили.

</p>
    <br>
<p>

    Чтобы этого избежать, в каждом раунде Вы можете внести некоторую
    часть (целое число) из своей начальной суммы на <b>общий счет</b>. Все что
    Вы не внесли, остается на Вашем <b>личном счету</b>, и включается в накопленный
    доход.

</p>
    <br>
<p>

    Общий счет формирует <b>фонд страховки</b> от бедствия для
    всех членов Вашей группы. Если
    сумма взносов группы на общий счет на конец игры составит по крайней
    мере {{ Constants.threshold }}, бедствия точно удастся избежать. Если Ваша
    группа накопит меньшую сумму, то вероятность <b>избежать
    бедствия</b> будет равна той доле от целевой суммы
    {{ Constants.threshold }}, которую ваша группа накопит на общем счету к концу игры.

</p>
    <br>
<p>

    Остальные участники Вашей группы находятся в тех же условиях, и так же
    могут потерять 3/4 своих накопленных доходов, независимо от их
    величины.

</p>
    <br>
<p>

    По окончании каждого раунда Вы будете видеть накопленные доходы и
    взносы - как свои, так и остальных членов Вашей группы, а также текущую
    вероятность бедствия с учетом сумм на общем счету. Ваша
    цель - максимизировать Ваш собственный доход в конце игры,
    который в каждом раунде формируется как

</p>
    <br>
<p>

    <i>Доход = (100 - Ваш взнос на общий счет) * 0.25 * Prob(бедствие) +
        (100 - Ваш взнос на общий счет) * (1-Prob(бедствие))</i>

{#    В дополнение к выигрышам за игру, каждый из вас#}
{#    в конце получит безусловный доход в {{ Constants.lumpsum }}.#}
</p>

</div>


        {% next_button %}
{% endblock %}