{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{##}
{#</h3>#}

{% block title %}
    Принятие решений II - Инструкции
{% endblock %}


{% block content %}
<p>
<p>

    Теперь правила игры несколько изменятся. Вы принимаете решения в составе той же группы из
    {{ Constants.players_per_group }} участников, так же в течение
    {{ Constants.num_rounds }} раундов. Однако теперь каждый
    раунд игры будет состоять из двух частей.

</p>
    <br>
<p>

    Первая часть раунда будет той же что и ранее: каждый из вас
    получает равную сумму {{ Constants.endowment }}, и
    решает, в какой пропорции разбить ее между <b>личным счетом</b> и
    <b>общим счетом</b>. Взносы на общий счет позволяют
    минимизировать вероятность возможного <strong>бедствия</strong>, в
    случае которого каждый член группы теряет 3/4 накопленного дохода.


</p>
    <br>
<p>
        Во второй части раунда, после того, как Вы увидите взносы и накопленные
    доходы каждого участника группы, Вы можете принять решения о <strong>
    вычетах </strong>  из
        доходов каждого из остальных членов группы. Эти суммы в
        размере от 0 (нисколько, по умолчанию) до 4 (максимальная сумма, в
        целых числах)
        вычитаются из накопленных доходов соответствующего участника, и не
        влияют на общий счет.

</p>
    <br>
<p>
        Другие участники точно так же могут принять решения о
        вычетах в отношении Вас.

</p>
    <br>
<p>
        Вы потратите 0.2 за каждую единицу вычета у каждого другого участника.
        Эти расходы вычитаются из Вашего накопленного дохода.

</p>
    <br>
<p>
       Вычеты всех участников, примененные к какому-то из членов группы,
        суммируются: максимально возможный вычет у каждого участника в каждом
        раунде достигает 16.

</p>
    <br>
<p>

        Если вы не захотите применять вычет к участникам, просто оставьте 0
        по умолчанию.
    </b>


</p>
</div>

        {% next_button %}

{% endblock %}