{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Пожалуйста, прочитайте инструкции
{% endblock %}


{% block content %}
    <p>
<!--    <b>Это игра на создание общественного блага.</b> -->

    В каждой группе по {{ Constants.players_per_group }} участников,
    случайным образом разбитые на равные группы. Состав групп не меняется на
    протяжении всей игры.

     <br> <br>

     Каждое очко на личном счету приносит 1 единицу лично данному участнику.

    <br>

    Каждое очко на общем счету приносит {{ Constants.efficiency_factor }}
    очка каждому участнику из данной группы, вне зависимости от его или ее
     взноса.

     <br> <br>

    Ваша цель - максимизировать ваш собственный доход, который в каждом раунде
    формируется как

    <br>

    <i>Доход = 100 - Ваш взнос на общий счет + <wbr> {{Constants.efficiency_factor}} * сумма взносов на общий счет/5</i>

    <br><br>
 </p>

{% endblock %}
